@media only screen and (min-width: 300px) and (max-width: 700px) {
    body #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: smaller;

    }

    body #container{
        display: flex;
        flex-direction: column;
        font-size: smaller;
    }

    .container-1 img{
        height: 10px;

    }
    .container2{
        display:none;
    }
}
